<div class='container-color'>
    {{#if item.id}}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>{{item.title}}</h3>
                <img src='http://lorempixel.com/150/150/technics' />
                <p>{{item.description}}</p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5" id="compare-item">

            </div>
        </div>
    </div>
    {{/if}}

</div>

<script type="text/javascript" src="js/browse.js"></script>