<div class="container">
<div class='container-color'>
    <div class="text-center" style="float:left;width:250px;">
        <h2>Your Items</h2>
        <div id="user-items"></div>
    </div>
    <div class="text-center" style="float:left;width:250px;">
        <h2>Your Trades</h2>
        <div id="user-trades"></div>
    </div>
</div>
</div>


<button id="create-listing">Post</button>

<script type="text/javascript" src="js/func_util.js"></script>
<script type="text/javascript" src="js/dashboard.js"></script>