<div class="text-center" style="float:left;width:250px;">
    <h2>Your Items</h2>
    <div id="user-items"></div>
</div>
<div class="text-center" style="float:left;width:250px;">
    <h2>Your Trades</h2>
    <div id="user-trades"></div>
</div>

<script>var userID = {{user.id}};</script>
<script type="text/javascript" src="js/func_util.js"></script>
<script type="text/javascript" src="js/dashboard.js"></script>