

.nav{
    background-color:rgb(54,54,54);
    margin-right: auto;
    margin-right: auto;
    font-family: 'Baloo Da 2', cursive;
}
body{
    background-color:rgb(54, 54, 54);
    font-family: 'Baloo Da 2', cursive;
}
.container-jumbo{
    text-align: center;
}
.jumbotron{
    background-color: rgb(255, 174, 0);

}
.btn{
    background-color: rgb(54, 54, 54);
    color:rgb(255,174,0) ;
}
.carousel-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
}
.carousel-caption{
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 black,
		1px -1px 0  black,
	    -1px 1px 0 black,
        1px 1px 0  black;
    font-size: 20px;
}
.why-money{
    align-content: center;
    background-color: rgb(255, 174, 0);
    color: rgb(54, 54, 54);
    text-align: center;
    font-size: 30px;
}
#attn{
    font-weight: 1000;
}
.flex-container2{
    display: flex;
    justify-content: center;
    color: orange;
    width: 100%;
}
.container-color{
    color: orange;
}